<!DOCTYPE html>
<html>
  <head>
    <title>CtcServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
td {
    height: 30px;
}
</style>
  <body>
    <h1> c2c_timezone </h1>
    <%= yield %>
  </body>
</html>